@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    src: local('Roboto-Light'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    src: local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
}