                      @import 'vars';
                      @import 'fonts';
                      @import 'reset';
                      @import 'libs';
                      @import 'global';
                      .article {
                          margin-top: 96px;
                          z-index: 5;
                          &__inner {
                              display: flex;
                              align-items: center;
                              justify-content: center;
                          }
                          &__img {
                              margin-right: 95px;
                          }
                          &__text-paragraph {
                              max-width: 380px;
                              margin-bottom: 19px;
                          }
                          &__text-btn {
                              padding: 16px 40px;
                              font-size: 16px;
                              line-height: 100%;
                              color: #fff;
                              border-radius: 32px;
                              background-color: #E4C1AE;
                              border: none;
                              cursor: pointer;
                              @extend%Roboto-700;
                          }
                      }
                      
                      .window {
                          max-width: 730px;
                          margin: auto;
                          z-index: 20;
                          background-color: #fff;
                          &__inner {
                              display: flex;
                              justify-content: space-between;
                              padding: 56px 40px 56px 95px;
                          }
                      }
                      
                      @import 'media';